{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        body{
            color: white;
            background: black;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 5px solid grey;
            padding: 4px;
        }
        th {
            background-color:rgb(197, 27, 27);
            text-align: center;
        }
    </style> 
</head>
<body>
    <div class="fetcher">
        <h2>Display All Records</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for i in products %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.price }}</td>
                    <td><img src="/media/{{ i.image}}" style="width: 100px; height: 100px;"></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button onclick="history.back()" class="btn btn-secondary">Go Back</button>
    <style></style>

</body>
</html>
