{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style> 
</head>
<body>
    <div class="fetcher">
        <h2>Display All Records</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for i in products %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.price }}</td>
                    <td><img src="/media/{{ i.image}}" style="width: 150px; height: auto;"></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
