{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big_Data_Cart</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
    <body>
        <div class ="navigation">
            <nav>
                <div class = "icon"><b><a href="http://127.0.0.1:8000">Big_Data_Cart</a></b></div>

                <a href="http://127.0.0.1:8000/display/">Products</a>

                <a href="">Cart</a>

                <a href="http://">About</a>

            </nav>
        </div>

        <section class ="hero ">
            <div class = "hero-content">
                <h1><b>80% off on all items </b></h1>
                <p>Today greatest winter season sale ends .... Shop early </p>
                <b><big><a href="http://">Purchase Now</a></big></b>
            </div>
        </section>
        <p class="gradient-text">Hurry Up !</p>


    </body>
</html>






