{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big_Data_Cart</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class ="navigation">
        <nav>
            <div class = "icon"><b><a href="http://">
                Big_Data_Cart
            </a></b></div>
            <a href="http://">
                Products
            </a>
            <a href="http://">
                Cart
            </a>
            <a href="http://">
                About
            </a>
            <div class = "login">
                <nav>
                    <a href="http://">
                        SignIn
                    </a>
                    <a href="http://">
                        SignUp
                    </a>
                </nav>
            </div>
        </nav>
    </div>
    <section class ="hero ">
        <div class = "hero-content">
            <h1>80% off on all items </h1>
            <p>Today greatest winter season sale ends .... Shop early </p>
            <b><big><a href="http://">Purchase Now</a></big></b>
        </div>
    </section>
    <p class="gradient-text">Hurry Up !</p>

    <div>
       
        <h1>Product list </h1>
        <ul>
            {% for prod in Products %}
            <li>{{ prod.name }} - {{prod.price }}</li>
        </ul>
        
    </div>

</body>
</html>