<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <h2>UPDATE STOCK</h2>
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %} <!-- Missing CSRF token -->
            <label for="nam" class="form-label">Name:</label><br>
            <input type="text" name="nam" required class="form-label"><br><br>
        
            <label for="pric" class="form-label">Price:</label><br>
            <input type="number" name="pric" step="100" required class="form-label"><br><br>
        
            <label for="file" class="form-label">Upload File:</label><br>
            <input type="file" name="image" class="form-label"><br><br>
        
            <button type="submit" class="btn btn-success">ADD STOCK</button>
        </form>
    </div>
</body>
</html>